/config/ElgatoStreamDeck/profiles/**/*.bak
/config/GoXLR/AppDataRoaming/GoXLR_RecentColours.settings
/config/GoXLR/AppDataRoaming/GoXLR_temp*.settings
/config/GoXLR/AppDataRoaming/LanguagePacks/*.tr
/config/GoXLR/AppDataRoaming/SDPluginLogs
/config/GoXLR/AppDataRoaming/testIcon.png
/config/JetBrains/PyCharm/options/actionSummary.xml
/config/JetBrains/PyCharm/options/AquaNewUserFeedbackService.xml
/config/JetBrains/PyCharm/options/AquaOldUserFeedbackService.xml
/config/JetBrains/PyCharm/options/CommonFeedbackSurveyService.xml
/config/JetBrains/PyCharm/options/completion.factors.user.xml
/config/JetBrains/PyCharm/options/contributorSummary.xml
/config/JetBrains/PyCharm/options/csvSettings.xml
/config/JetBrains/PyCharm/options/databaseDrivers.xml
/config/JetBrains/PyCharm/options/databaseSettings.xml
/config/JetBrains/PyCharm/options/DontShowAgainFeedbackService.xml
/config/JetBrains/PyCharm/options/features.usage.statistics.xml
/config/JetBrains/PyCharm/options/github-copilot.local.xml
/config/JetBrains/PyCharm/options/gitlab.xml
/config/JetBrains/PyCharm/options/jdk.table.xml
/config/JetBrains/PyCharm/options/KafkaConsumerProducerFeedbackService.xml
/config/JetBrains/PyCharm/options/KeyPromoterXStatistic.xml
/config/JetBrains/PyCharm/options/llm.mcpServers.xml
/config/JetBrains/PyCharm/options/log-categories.xml
/config/JetBrains/PyCharm/options/NewUIInfoService.xml
/config/JetBrains/PyCharm/options/nodejs.xml
/config/JetBrains/PyCharm/options/other.xml
/config/JetBrains/PyCharm/options/project.default.xml
/config/JetBrains/PyCharm/options/PyCharmCEFeedbackService.xml
/config/JetBrains/PyCharm/options/recentProjects.xml
/config/JetBrains/PyCharm/options/runner.layout.xml
/config/JetBrains/PyCharm/options/sshRecentConnections.v2.xml
/config/JetBrains/PyCharm/options/sshRecentConnectionsHost.xml
/config/JetBrains/PyCharm/options/trusted-paths.xml
/config/JetBrains/PyCharm/options/ui.lnf.xml
/config/JetBrains/PyCharm/options/updates.xml
/config/JetBrains/PyCharm/options/usage.statistics.xml
/config/JetBrains/PyCharm/options/usageView.xml
/config/JetBrains/PyCharm/options/vcs.xml
/config/JetBrains/PyCharm/options/web-types-npm-loader.xml
/config/JetBrains/PyCharm/options/window.layouts.xml
/config/JetBrains/PyCharm/options/window.state.xml
/config/Microsoft/PowerToys/FancyZones/app-zone-history.json
/config/Microsoft/PowerToys/FancyZones/applied-layouts.json
/config/Microsoft/PowerToys/FancyZones/last-used-virtual-desktop.json
/config/WindowsTerminal/*.backup
/config/WindowsTerminal/state.json
