config/GoXLR/AppDataRoaming/GoXLR_RecentColours.settings
config/GoXLR/AppDataRoaming/GoXLR_temp*.settings
config/GoXLR/AppDataRoaming/testIcon.png
config/WindowsTerminal/*.backup
config/GoXLR/AppDataRoaming/SDPluginLogs
config/ElgatoStreamDeck/profiles/**/*.bak
